*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: var(--font-default-size-percentage);
}

body {
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  max-width: 1440px;
  box-sizing: border-box;
  width: 95%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-default);
  margin: 0 auto;
}
