.heading-1 {
  grid-column: 1 / -1;
  font-size: var(--font-size-heading-1-rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-heading-1-rem);
  margin: 2.5rem 0;

  @include media(big-desktop) {
    font-size: calc(var(--font-size-heading-1-rem) + .3rem);
    line-height: calc(var(--font-line-height-heading-1-rem) + .4rem);
  }

  @include media(small-desktop) {
    font-size: var(--font-size-heading-1-vw);
    line-height: var(--font-line-height-heading-1-vw);
    margin: 2vw 0;
  }

  @include media(tablet-portrait) {
    font-size: calc(var(--font-size-heading-1-vw) + .6vw);
    line-height: calc(var(--font-line-height-heading-1-vw) + .6vw);
    margin: 2vw 0;
  }

  @include media(phone) {
    font-size: calc(var(--font-size-heading-1-rem) - 2.1rem);
    line-height: calc(var(--font-line-height-heading-1-rem) - 2.4rem);
  }
}

.heading-3 {
  font-size: var(--font-size-heading-3-rem);
  margin: .6rem 0;

  @include media(big-desktop) {
    font-size: calc(var(--font-size-heading-3-rem) + .3rem);
  }

  @include media(phone) {
    font-size: calc(var(--font-size-heading-3-rem) - .1rem);
    line-height: var(--font-line-height-heading-3-rem);
  }
}

.text--subtle {
  color: var(--font-color-subtle-1);
}

.text--lede {
  font-size: var(--font-size-lede-rem);

  @include media(big-desktop) {
    font-size: calc(var(--font-size-lede-rem) + .3rem);
  }

  @include media(phone) {
    font-size: var(--font-size-default-rem);
    line-height: auto;
  }
}

p {
  font-size: var(--font-size-default-rem);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.link,
.link:visited {
  color: var(--page-color-primary);
  background-image: linear-gradient(
                      to right,
                      var(--page-color-primary) 100%,
                      transparent 50%
                    );
  background-position: 0 2.1rem;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-shadow: 1px 1px 0 white,
               2px 1px 0 white,
               -1px 1px 0 white,
               -2px 1px 0 white,
               0 1px 0 white;

  &:hover {
    color: var(--page-logo-color-gradient-bottom);
    background-image: linear-gradient(
                        to right,
                        var(--page-logo-color-gradient-bottom) 100%,
                        transparent 50%
                      );
  }

  @include media(big-desktop) {
    background-position: 0 2.2rem;
  }
}

.link--subtle,
.link--subtle:visited {
  color: var(--font-color-subtle-link);
  font-weight: var(--font-weight-normal);
  background-image: linear-gradient(
                      to right,
                      var(--page-color-primary) 50%,
                      transparent 50%
                    );

  &:hover {
    color: var(--font-color-default);
  }
}

.link--unbold,
.link--unbold:visited {
  font-weight: var(--font-weight-normal);
}
