:root {
  --page-color-background: #fff;
  --page-color-primary: #45ACF0;
  --page-logo-color-gradient-top: #45ACF0;
  --page-logo-color-gradient-bottom: #1D97E7;
  --font-logo-color: #fff;
  --font-color-default: #464646;
  --font-color-subtle: #ccc;
  --font-size: 16px;
  --font-weight-normal: 300;
  --font-weight-bold: 700;
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

p {
  font-size: 18px;

  &:first-of-type {
    margin-top: 0;
  }
}

.subtle {
  color: var(--font-color-subtle);
}

@media screen and (min-width: 64em) {
  body {
      grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
      width: 95%;
      padding: 0;
      margin: 0 auto;
      font-size: var(--font-size);
  }

  .full {
    grid-column: 1 / -1;
  }

  .initial_letter::first-letter {
    float: left;
    margin-right: 16px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 48em) {
  body {
      grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      max-width: 1440px;
      display: grid;
  }

  .initial_letter::first-letter {
    font-size: 72px;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  color: var(--font-color-default);
}

h1 {
  grid-column: 1 / -1;
  font-size: 2.8em;
  font-weight: var(--font-weight-bold);
  line-height: 1.2em;
  margin: 0.5em 0;
}

h3 {
  margin: 0.3em 0;
}

a, a:visited {
  color: var(--page-color-primary);
  background-image: linear-gradient(to right, var(--page-color-primary) 100%, transparent 50%);
  background-position: 0 20px;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-shadow: 1px 1px 0 white, 2px 1px 0 white, -1px 1px 0 white, -2px 1px 0 white, 0 1px 0 white;

  &.subtle {
    color: #606060;

    &:hover {
      color: var(--font-color-default);
    }
  }

  &:hover {
    color: var(--page-logo-color-gradient-bottom);
    background-image: linear-gradient(to right, var(--page-logo-color-gradient-bottom) 100%, transparent 50%);

    svg {
      fill: var(--page-logo-color-gradient-bottom);
    }
  }

  svg {
    fill: var(--page-color-primary);
  }
}

#contact {
  grid-column: 1 / 4;
}

#availability {
  grid-column: 4 / 7;
}

#follow {
  grid-column: 7 / -1;

  ul {
    display: block;
    grid-column: 3 / 5;
    list-style-type: none;
    padding: 0;

    li {

      a {
        margin-right: 35px;
      }

      svg {
        width: 1em;
        vertical-align: -3px;
        margin-right: 4px;
      }

      &#follow-twitter svg {
        fill: #1DA1F2;
      }

      &#follow-linkedin svg {
        fill: #0077B5;
      }

      &#follow-github svg {
        fill: #333;
      }
    }
  }
}

footer {
  border-top: 2px solid #ccc;
  grid-column: 1 / -1;
  display: grid;
  margin-top: 60px;

  p {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0;

    &:first-of-type {
      padding-top: 25px;
    }
  }

  #little-name {
    display: inline-block;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    height: 12px;
    width: 0;
    padding: 7px 9px 0 12px;
    margin: -11px auto;
    font-weight: var(--font-weight-bold);
    font-size: 2.5em;
    color: var(--font-logo-color);
    background: linear-gradient(to bottom, var(--page-logo-color-gradient-top), var(--page-logo-color-gradient-bottom));

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      margin: 12px 0 0 -12px;
      border-top: 8px solid var(--page-logo-color-gradient-bottom);
      border-right: 8px solid transparent;
      content: "";
    }
  }
}

header[role="banner"] {
  grid-column: 1 / -1;
  display: grid;
  padding: 20px 0;

  #name {
    display: inline-block;
    height: 58px;
    width: 43px;
    padding: 7px 12px 0 12px;
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: 2.2em;
    color: var(--font-logo-color);
    background: linear-gradient(to bottom, var(--page-logo-color-gradient-top), var(--page-logo-color-gradient-bottom));

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      margin: 58px 0 0 -12px;
      border-top: 22px solid var(--page-logo-color-gradient-bottom);
      border-right: 22px solid transparent;
      content: "";
    }
  }

  #nav {
    display: block;
    grid-column: 3 / 5;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;

      a {
        font-size: 24px;
        font-weight: var(--font-weight-bold);
        margin-right: 35px;
        background: none;
        text-shadow: none;

        svg {
          width: 1em;
        }
      }
    }
  }
}
