:root {
  --color-background: #fff;
  --color-style-main: #45ACF0;
  --color-banner-background-gradient-top: #45ACF0;
  --color-banner-background-gradient-bottom: #1D97E7;
  --font-banner-name-color: #fff;
  --font-default-color: #464646;
  --font-size: 16px;
  --font-weight-normal: 300;
  --font-weight-bold: 700;
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

@media screen and (min-width: 64em) {
  body {
      grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
      width: 95%;
      padding: 0;
      margin: 0 auto;
      font-size: var(--font-size);
  }

  .set_left {
    grid-column: 1 / 3;
  }

  .set_right {
    grid-column: 3 / 8;
  }

  .initial_letter::first-letter {
    float: left;
    margin-right: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 48em) {
  body {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      max-width: 1440px;
      display: grid;
  }

  .initial_letter::first-letter {
    font-size: 52px;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: var(--font-weight-normal);
  color: var(--font-default-color);
}

h1 {
  grid-column: 1 / 8;
  font-size: 3em;
  font-weight: 700;
  line-height: 58px;
}

p {
  font-size: 18px;
}

a {
  color: var(--color-style-main);
  background-image: linear-gradient(to right, var(--color-style-main) 100%, transparent 50%);
  background-position: 0 20px;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  text-decoration: none;
  text-shadow: 1px 1px 0 white, 2px 1px 0 white, -1px 1px 0 white, -2px 1px 0 white, 0 1px 0 white;

  &:hover {
    color: var(--color-banner-background-gradient-bottom);
    background-image: linear-gradient(to right, var(--color-banner-background-gradient-bottom) 100%, transparent 50%);
  }
}

header[role="banner"] {
  grid-column: 1 / 8;
  display: grid;
  padding: 20px 0;

  #name {
    display: inline-block;
    height: 58px;
    width: 43px;
    padding: 7px 12px 0 12px;
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: 2.5em;
    color: var(--font-banner-name-color);
    background: linear-gradient(to bottom, var(--color-banner-background-gradient-top), var(--color-banner-background-gradient-bottom));

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      margin: 58px 0 0 -12px;
      border-top: 22px solid var(--color-banner-background-gradient-bottom);
      border-right: 22px solid transparent;
      content: "";
    }
  }

  #nav {
    display: block;
    grid-column: 2 / 8;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;

      a {
        font-size: 24px;
        font-weight: var(--font-weight-bold);
        margin-right: 35px;
        background: none;
        box-shadow: 0;

        svg {
          width: 1em;
          fill: var(--color-style-main);
        }
      }
    }
  }
}
