{{> global_header }}
<h1 class="heading-1">I'm currently looking for work, please job me</h1>
<section class="hire-me__main">
  <p class="text--lede margin--bottom-2">I've just moved back from San Francisco, with 8+
  years of experience I'd like to share.</p>
  <p>I'm looking to work.</p>
</section>
<div class="hire-me__side">
  <section class="hire-me__cv">
    <h3 class="heading-3 margin--top-none">Download me</h3>
  </section>
</div>
{{> global_footer }}
