{{> global_header }}
<h2 class="heading-2 hire-me__heading">You can hire me, if you want</h2>
<div class="hire-me__main">
  <p class="text--lede margin--bottom-2">I'm looking to join a fantastic team. I
  just moved back from San Francisco, with 8+ years of experience I'd like to share.</p>
  <p>My name is <a href="/about" class="link">Jake Holman</a>, and I'm available to
  start working for you right away. Here's a bit about what I'm looking for, and what I'm not:</p>
  <p class="text--center margin--top-3 margin--bottom-1"><a href="/media/Jake%20Holman%2C%20Product%20Manager%20%26%20Leader%20-%20CV.pdf"
     target="_blank" class="button button--full">Download My CV/Resume (PDF)</a></p>
  <p class="text--center">Or, <a href="/about/cv" class="link link--subtle">view the web version</a>.</p>
  <h3 class="heading-3 margin--top-3">What I'm looking for</h3>
  <p>I hope we can work together no matter what the role is, but I'm at my best when
  the role looks something like the following:</p>
  <ul class="list margin--top-3">
    <li class="list__item list__item--good">
      You <strong><em>really</em> care about your customers</strong>, and building the
      best possible product for them.
    </li>
    <li class="list__item list__item--good">
      You <strong>value product design highly</strong>, and understand that is a
      company-wide value.
    </li>
    <li class="list__item list__item--good">
      You expect Engineering, Product &amp; Design to <strong>work very closely with
      each other</strong>.
    </li>
    <li class="list__item list__item--good">
      You expect Product to be <strong>deeply involved in execution</strong>: writing stories,
      planning sprints with engineering, etc.
    </li>
    <li class="list__item list__item--good">
      You're hiring for Head of Product, Director of Product or Senior Product Manager positions.
    </li>
  </ul>
  <p>You can <a href="/contact" class="link">get in touch with me</a> if you think
  I'm a good match for a position you have.</p>
</div>
<section class="hire-me__side">
  {{> snippet_experience-summary}}
</section>
{{> global_footer }}
