{{> global_header }}
<h1 class="heading-1">I'm currently looking for work, please job me</h1>
<section class="hire-me__main">
  <p class="text--lede margin--bottom-2">I've just moved back from San Francisco, with 8+
  years of experience I'd like to share. I'm looking to join a fantastic team.</p>
  <p>My name is <a href="/about" class="link">Jake Holman</a>, and I'm available to start working for you
  right away. Here's a bit about what I'm looking for, and what I'm not:</p>
  <ul class="list margin--top-3">
    <li class="list__item list__item--good">
      You <strong><em>really</em> care about your customers</strong>, and building the
      best possible product for them.
    </li>
    <li class="list__item list__item--good">
      You <strong>value product design highly</strong>, and understand that is a company-wide value.
    </li>
    <li class="list__item list__item--good">
      You expect Engineering, Product &amp; Design to <strong>work very closely with each other</strong>.
    </li>
    <li class="list__item list__item--good">
      You expect Product to be <strong>deeply involved in execution</strong>: writing stories,
      planning sprints with engineering, etc.
    </li>
    <li class="list__item list__item--good">
      You're hiring for Head of Product, Director of Product or Senior Product Manager positions.
    </li>
  </ul>
  <ul class="list">
    <li class="list__item list__item--bad">
      You're a B2C ad-revenue driven product? Sorry, I have to sleep at night.
    </li>
    <li class="list__item list__item--bad">
      You're looking for someone to "just ship things"
    </li>
    <li class="list__item list__item--bad">
      No interest in Growth, Billing or Backend Product areas.
    </li>
  </ul>
  <p>You can <a href="/contact" class="link">get in touch with me</a> if you think I'm a good match for a position you have.</p>
</section>
<section class="hire-me__side">
  <h3 class="heading-3 margin--top-none">Here's my CV (or Resume)</h3>
  <p>It's a PDF version of my CV that you can keep forever, if you'd like.</p>
  <a href="/media/Jake%20Holman%2C%20Product%20Manager%20%26%20Leader%20-%20CV.pdf" target="_blank" class="button margin--bottom-2">Download My CV</a>
  <p>Or, <a href="/about/cv" class="link link--subtle">view the web version</a>.</p>
</section>
{{> global_footer }}
