---
import DocsLayout from "@/layouts/DocsLayout.astro"
import { getCollection } from "astro:content"

const toolsPages = await getCollection("tools")
---

<DocsLayout
  title="Tools"
  description="A collection of tools for web development, that you might find handy."
>
  <div
    class="prose prose-h2:border-b prose-h2:pb-2 prose-headings:tracking-tight prose-h1:text-3xl prose-headings:font-bold prose-h1:mb-0 dark:prose-invert mt-4"
  >
    <div class="grid lg:grid-cols-2 gap-3 mt-3 not-prose">
      {
        toolsPages.map((tool) => (
          <a href={tool.data.href} target="_blank">
            <div class="bg-card text-card-foreground rounded-lg border shadow-sm">
      <div class="flex flex-col min-h-44 w-auto p-6 pt-6">
        <h3 class="text-lg font-medium">{tool.data.title}</h3>
        <p class="text-sm text-muted-foreground">{tool.data.description}</p>
      </div>
    </div>
          </a>
        ))
      }
    </div>
  </div>
</DocsLayout>
