<header class="header" role="banner">
  <div class="header__name-container">
    <h2 class="header__name">
      <a href="/" class="link header__link">Jake Holman</a>
    </h2>
  </div>
  <div class="contact">
    <div class="contact__item contact__item--location">{{svg "location"}}<span>England</span></div>
    <div class="contact__item contact__item--phone">{{svg "phone"}} +44 7539 448607</div>
    <div class="contact__item contact__item--email">{{svg "phone"}} me@jakeisonline.com</div>
    <div class="contact__item contact__item--website">{{svg "website"}} www.jakeisonline.com</div>
  </div>
  <h1 class="heading-1">Leads products to success, with a passion for user empathy and quality development</h1>
</header>
<section class="work-experience">
  <h3 class="heading-3">Work experience</h3>
  <div class="work-experience__item">
    <h4 class="work-experience__place">Shippo</h4>
    <span class="work-experience__date">October 2018 - September 2019</span>
    <h5 class="work-experience__title">Director of Product & Product Advisor</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Primarily responsible for the" Merchant Experience" product area and roadmap, which focuses on the core workflow of Orders flowing through Shippo
      </li>
      <li class="work-achievements__item">
        Co-ordination of the first cross-functional quarterly roadmapping, which included sizing potential projects, top- down and bottoms-up prioritisation, resource planning and executive communication of the final plans Migration of multiple incumbent interfaces across two different front-end stacks, into one React-based interface with substantial UX improvements based on months of customer research
      </li>
      <li class="work-achievements__item">
        Major stakeholder in the organisation and execution of Shippo's first customer-focused hackathon, prioritising improvements to both user experience and quality of life of those users
      </li>
      <li class="work-achievements__item">
        Oversaw and championed the gathering, analysis and company-wide distribution of customer research, through a robust combination of in-app surveys, user interviews, and the creation of feedback channels with customer facing teams
      </li>
      <li class="work-achievements__item">
        Assisting in development and refinement of Shippo's overall Product processes including planning, execution, communication and cross-functional collaboration
      </li>
    </ul>
  </div>

  <div class="work-experience__item">
    <h4 class="work-experience__place">PlanGrid</h4>
    <span class="work-experience__date">January 2019 - March 2019</span>
    <h5 class="work-experience__title">Product Consultant</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Fixed-term Contract to assist in a cross-functional project, force migrating hundreds of thousands of projects to a newer version. Project was planned and executed in a matter of weeks, after years of internal struggles
      </li>
      <li class="work-achievements__item">
        Guided and oversaw development of a self-serve“ upgrade” tool that helps customers one-step through the upgrade
      </li>
      <li class="work-achievements__item">
        Developed and executed a customer communication strategy between Product Marketing, Support and Product
      </li>
      <li class="work-achievements__item">
        Developed internal feedback loops to help customer-facing teams deal with objections and problems arising from upgrade activities
      </li>
    </ul>
  </div>
</section>
<section class="education">
  <h3 class="heading-3">Education</h3>
  <div class="work-experience__item">
    <h4 class="work-experience__place">University of Portsmouth</h4>
    <span class="work-experience__date">2004 - 2008</span>
    <h5 class="work-experience__title">B.A. (Hons) Marketing</h4>
    <p class="work-experience__summary">Including an internship with Intel's EMEA marketing team for Xeon and Itanium</p>
  </div>
</section>
