    <footer class="footer" role="contentinfo">
      <p>Handcrafted using HTML & CSS, always available at <a class="link link--subtle" href="https://www.jakeisonline.com/{{page.fileSlug}}" target="_blank">jakeisonline.com/{{page.fileSlug}}</a></p>
    </footer>
  </body>
</html>
