    <footer class="footer" role="contentinfo">
      <div class="footer__little-name"></div>
      <p>&copy; <strong>Jake Holman</strong> 1980ish - 2020.
      <a class="link link--subtle" href="https://github.com/jakeisonline/jakeisonline.com" target="_blank">
      I made this website.</a></p>
    </footer>
  </body>
</html>
