<header class="header" role="banner">
  <h2 class="header__name">
    <a href="/" class="link header__link">JH</a>
  </h2>
  <nav class="navigation">
    <ul class="navigation__list" role="navigation">
      <li class="navigation__item">
        <a href="/about" class="navigation__link">Learn about me</a>
      </li>
      <li class="navigation__item">
        <a href="/stories" class="navigation__link">Read my stories</a>
      </li>
      <li class="navigation__item">
        <a href="/contact" class="navigation__link">Talk to me</a>
      </li>
    </ul>
  </nav>
</header>
