<ul class="sociallist">
  <li id="follow-twitter">
    {{svg "twitter.svg"}}
    <a href="https://www.twitter.com/jakeisonline" class="subtle" target="_blank">@jakeisonline</a>
  </li>
  <li id="follow-linkedin">
    {{svg "linkedin.svg"}}
    <a href="https://www.linkedin.com/in/jakeholman/" class="subtle" target="_blank">jakeholman</a>
  </li>
  <li id="follow-github">
    {{svg "github.svg"}}
    <a href="https://github.com/jakeisonline" class="subtle" target="_blank">jakeisonline</a>
  </li>
</ul>
