<section class="about__experience">
  <h3 class="heading-3 margin--top-none">In summary</h3>
  <ul class="list">
    <li class="list__item list__item--time">
      8+ years experience in technology, product management and leadership
    </li>
    <li class="list__item list__item--beliefs">
      Design-centric, human-centric, highly customer empathetic, strategic thinker
    </li>
    <li class="list__item list__item--speaker">
      Confident speaker, passionate about evanglising product management and development
    </li>
    <li class="list__item list__item--technical">
      Strong technical background
    </li>
  </ul>
</section>
