<h3 class="availability__heading availability__heading--available heading-3">Hire me</h3>
<p class="margin--none">Read more about <a class="link" href="/about/hire-me">what I'm looking for</a>.
<p class="text--subtle margin--none">Also open to speaking, teaching or advising.</p>
