<ul class="social-list">
  <li class="social-list__item social-list__item--twitter">
    {{svg "twitter.svg"}}
    <a href="https://www.twitter.com/jakeisonline" class="link link--subtle sociallist__link" target="_blank">@jakeisonline</a>
  </li>
  <li class="social-list__item social-list__item--linkedin">
    {{svg "linkedin.svg"}}
    <a href="https://www.linkedin.com/in/jakeholman/" class="link link--subtle sociallist__link" target="_blank">jakeholman</a>
  </li>
  <li class="social-list__item social-list__item--github">
    {{svg "github.svg"}}
    <a href="https://github.com/jakeisonline" class="link link--subtle sociallist__link" target="_blank">jakeisonline</a>
  </li>
</ul>
