<section class="talk">
  {{> snippet_talk }}
</section>
<section class="availability">
  {{> snippet_availability }}
</section>
<section class="follow">
  <h3 class="follow__heading heading-3">Follow me</h3>
  {{> snippet_social-list }}
</section>
