{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "printWidth": 80
}
