{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "tailwindFunctions": ["clsx", "cva", "cn", "twMerge", "tw"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
