<h3>Availability</h3>
<p><em>I'm looking for longer term work</em>, read more about
<a class="subtle" href="about/looking-for-work">what I'm looking for</a>.
<span class="subtle">Also open for speaking, teaching or advising.</span></p>
