.margin {
  &--none {
    margin: 0 !important;
  }

  &--top {
    &-none {
      margin-top: 0 !important;
    }

    &-2 {
      margin-top: 2rem !important;
    }

    &-3 {
      margin-top: 3rem !important;
    }
  }
}
