:root {
  --page-color-background: #fff;
  --page-color-primary: #45ACF0;
  --page-color-subtle: #ccc;
  --page-logo-color-gradient-top: #45ACF0;
  --page-logo-color-gradient-bottom: #1D97E7;
  --font-logo-color: #fff;
  --font-color-default: #464646;
  --font-color-subtle: #ccc;
  --font-color-subtle-link: #606060;
  --font-size: 18px;
  --font-weight-normal: 300;
  --font-weight-bold: 700;
}
