---
import CategoryNav from "@/components/blocks/category-nav.astro"
import PostSnippet from "@/components/blocks/post-snippet.astro"
import BaseLayout from "@/layouts/base-layout.astro"
import { getCollection } from "astro:content"

const allArticles = await getCollection("articles", ({ data }) => {
  const isPublished = data.publishedAt !== undefined
  return import.meta.env.PROD ? isPublished : true
})
---

<BaseLayout
  title="Articles & Guides"
  description="A collection of handwritten thoughts on web development, and interactive guides on building better web experiences"
>
  <div
    class="grid w-full grid-cols-1 gap-4 md:grid-cols-[2fr_1fr] lg:grid-cols-[1.5fr_1fr]"
  >
    <section>
      <h2 class="text-muted-foreground mb-4 text-sm">Stuff to read</h2>

      {allArticles.map((article) => <PostSnippet post={article} />)}
    </section>
    <div class="hidden md:block">
      <section>
        <h2 class="text-muted-foreground text-sm">Browse by category</h2>
        <CategoryNav />
      </section>
    </div>
  </div>
</BaseLayout>
