.about {
  &__me {
    grid-column: 1 / 6;
  }

  &__lede-container {
    display: flex;
  }

  &__face {
    flex: 0;
    place-self: center;
    margin: -2.9rem 2rem 0 1rem;
    width: 86px;
  }

  &__side {
    grid-column: 6 / -1;
  }

  &__experience {
    font-size: var(--font-default-size-rem);
  }

  &__availability {

  }
}

.experience {
  &__list {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0 0 3.6rem;
  }

  &__item {
    position: relative;
    padding-left: 3.1rem;

    &:not(:last-child) {
      margin-bottom: 1.1rem;
    }

    &::before {
      position: absolute;
      top: -.2rem;
      left: 0;
    }

    &--time::before {
      content: "⌛ ";
    }

    &--beliefs::before {
      content: "🧠 ";
    }

    &--speaker::before {
      content: "📢 ";
    }

    &--technical::before {
      content: "💻 ";
    }
  }
}
