.contact {
  grid-column: 1 / 6;

  @include media(phone) {
    grid-column: 1 / -1;
  }
}

.stalker {
  grid-column: 6 / -1;

  @include media(phone) {
    margin-top: 2rem;
    grid-column: 1 / -1;
  }
}
