{{> global_header }}
<section class="introduction">
  <h2 class="heading-2">Hands on product leader, with heaps of customer empathy and excitement for product development</h2>
  <div class="face__container">
    <img src="/images/jake-smile-1x.png"
         srcset="/images/jake-smile-2x.png 2x, /images/jake-smile-3x.png 3x"
         class="face__image face__image--smile"
         alt="Jake's dumb smiling face">
    <p class="margin--bottom-2">Hello, my name is <a href="/about" class="link">Jake Holman</a> and I've been solving product problems
    for years. I started my journey by creating a CMS for my parents business, then ended up
    leading two of Zendesk's biggest products. There's a lot more, but that's the short version.</p>
  </div>
  <p>I take an all-encomposing approach to product development and leadership, washing
  away previous norms associated with the traditional product role. I believe in an approach
  defined as product culture.</p>

</section>
{{> snippet_talkmefollowme }}
{{> global_footer }}
