.availability {
  &__heading {
    &--looking {
      position: relative;

      &:after {
        position: absolute;
        color: #fff;
        font-size: 1.2rem;
        background-color: var(--page-color-subtle);
        content: "LOOKING";
        padding: .3rem .6rem;
        font-weight: var(--font-weight-normal);
        margin: .3rem 0 0 .5rem;
      }
    }
  }
}
