.availability {
  &__heading {
    position: relative;

    &:after {
      position: absolute;
      color: #fff;
      font-size: 1.2rem;

      padding: .3rem .6rem;
      font-weight: var(--font-weight-normal);
      margin: .3rem 0 0 .5rem;
    }

    &--available:after {
      background-color: rgb(86, 167, 118);
      content: "AVAILABLE";
    }
  }
}
