.button {
  &,
  &:link,
  &:visited {
    background: linear-gradient(to bottom,
                  var(--page-logo-color-gradient-top),
                  var(--page-logo-color-gradient-bottom)
                );
    border: none;
    border-radius: 1rem;
    border: 0.5rem solid #9DD0F7;
    box-shadow: 0 .2rem 1rem rgba(#000, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family);
    font-size: var(--font-size-default-rem);
    font-weight: 700;
    padding: 1.4rem 2rem;
    transition: all 0.2s;
    text-decoration: none;
  }


  &:hover {
    box-shadow: 0 .5rem 1.6rem rgba(#000, 0.2);
    transform: translateY(-0.2rem);
  }

  &:active,
  &:focus {
    box-shadow: 0 .2rem 1rem rgba(#000, 0.2);
    transform: translateY(0);
  }
}
