.face {
  &__container {
    display: flex;

    @include media(phone) {
      display: block;
    }
  }

  &__image {
    flex: 0;
    place-self: center;

    @include media(phone) {
      align-self: baseline;
      float: left;
    }

    &--laptop {
      margin: -2.7rem 1.2rem 0 0;
      width: 9rem;
      height: 9rem;

      @include media(phone) {
        width: 7rem;
        height: 7rem;
        margin-top: -.1rem;
      }
    }

    &--smile {
      margin: -2.9rem .8rem 0 0;
      width: 10.7rem;
      height: 10.7rem;

      @include media(phone) {
        width: 7rem;
        height: 7rem;
        margin-top: -.1rem;
      }
    }
  }

}
