.list {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0 0 3.6rem;

  &__item {
    font-size: var(--font-size-default-rem);
    position: relative;
    padding-left: 3.1rem;

    &:not(:last-child) {
      margin-bottom: 1.1rem;
    }

    &::before {
      position: absolute;
      top: -.3rem;
      left: 0;
    }

    &--good::before {
      content: "✅ ";
    }

    &--bad::before {
      filter: hue-rotate(245deg);
      content: "❎ ";
    }

    &--time::before {
      content: "⌛ ";
    }

    &--beliefs::before {
      content: "🧠 ";
    }

    &--speaker::before {
      content: "📢 ";
    }

    &--technical::before {
      content: "💻 ";
    }
  }
}
