.social-list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__item {
    font-size: var(--font-default-size-rem);

    svg {
      width: 2rem;
      vertical-align: -.3rem;
      margin-right: .4rem;
    }

    &--twitter svg {
      fill: #1DA1F2;
    }

    &--linkedin svg {
      fill: #0077B5;
    }

    &--github svg {
      fill: #333;
    }
  }
}
