{{> global_header pageTitle="A product development leader based in San Francisco, California" }}
<h1>Come talk to me about the things</h1>
<div class="content column-1">
  <p class="subtitle">Glad you'd like to get in touch, there's plenty of ways to get contact me.
  How you contact me is totally up to you, but let me give you a few recommendations:</p>
  <p>If you're not currently thinking of engineering, design and product as one team, or
  you're having problems working with Sales, Success or Support.</p>
  <p>Perhaps you're looking for advice on how best to approch problem discovery,
  and/or how to create a process of constant validation?</p>
  <p>Maybe you're just looking for someone to generally advise you on product in general?</p>
  <p><strong>Then great!</strong> Email me on <a href="mailto:hello@jakeisonline.com">
  hello@jakeisonline.com</a> or call me on <a href="tel:+14154252212">+1 415-425-2212</a>
  <span class="subtle">(you'll likely be screened, just leave a message)</span>
</div>
<div class="content column-2">
  <h3>Just looking to stalk me instead?</h3>
  <p>That's fine, it's what the internet is mostly for right? You can find me in a bunch of places,
  here's where you'll find me the most:</p>
  {{> snippet_sociallist }}
  <p>I also live in San Francisco, Californa if you'd like to not stalk me and buy me
  an avocado coffee and toast.</p>
</div>
{{> global_footer }}
