{{> global_header }}
<h2 class="heading-2 contact__heading">Come talk to me about the things</h2>
<section class="contact">
  <p>Glad you'd like to get in touch. I have a lot of thoughts on product, product
  management, product culture and product ops. I'd love to talk to you about any of that.</p>
  <p>Perhaps you have a role you think I might be a good fit for, which is great because
  <a href="/about/hire-me" class="link">I'm looking for work</a>.</p>
  <p>Whatever the reason, feel free to email me on <a href="mailto:hello@jakeisonline.com" class="link">
  hello@jakeisonline.com</a> or call me on <a href="tel:+447539448607" class="link">+44 7539 448607</a>.</p>
  <p>I currently live in England, kind of close to London, happy to travel for tea
  and a chat. If you're paying.</p>
</section>
<section class="stalker">
  <h3 class="heading-3 margin--top-none">Just looking to stalk me?</h3>
  <p>That's fine, it's what the internet is mostly for right? You can find me in a bunch
  of places, but here's where you'll find me the most:</p>
  {{> snippet_social-list }}
</section>
{{> global_footer }}
