{{> global_header pageTitle="A product development leader based in San Francisco, California" }}
<h1 class="heading-1">Come talk to me about the things</h1>
<section class="contact">
  <p>Glad you'd like to get in touch. You can contact me for any reason you'd like, but
  here's a few recommendations:</p>
  <p>If you're not currently thinking of engineering, design and product as one team, or
  you're having problems working with Sales, Success or Support.</p>
  <p>Got a Product job position you need to fill? I'm <a class="link" href="about/looking-for-work">
  currently looking for work</a>.</p>
  <p>Maybe you're just looking for someone to generally advise you on product in general?</p>
  <p><strong>Then great!</strong> Email me on <a href="mailto:hello@jakeisonline.com" class="link">
  hello@jakeisonline.com</a> or call me on <a href="tel:+447539448607" class="link">+44 7539 448607</a>.
</section>
<section class="stalker">
  <h3 class="heading-3 margin--top-none">Just looking to stalk me instead?</h3>
  <p>That's fine, it's what the internet is mostly for right? You can find me in a bunch
  of places, but here's where you'll find me the most:</p>
  {{> snippet_social-list }}
  <p class="margin--top-2">I currently live in England, kind of close to London, happy to
  travel for tea and a chat. If you're paying.</p>
</section>
{{> global_footer }}
