---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout
  title="Playground"
  description="Free components and rides from Jake Holman (@jakeisonline)."
>
  <div class="w-full lg:mt-8 mt-4">
    <h1>
      <span class="xl:text-6xl lg:text-5xl text-2xl md:text-4xl md:block">Free components for your projects</span>
      <span class="md:text-2xl text-base text-muted-foreground">and other fun stuff</span>
    </h1>
  </div>
</BaseLayout>
