---
import ExampleComponent from "@/components/example-component"
import Card from "@/components/ui/Card.astro"
import DocsLayout from "@/layouts/DocsLayout.astro"
import { getCollection } from "astro:content"

const componentPages = await getCollection("components")
---

<DocsLayout
  title="Components"
  description="A range of free, accessible, and open-source React components. All of these components are easily installed via cli or manually. Go, explore."
>
  <div
    class="prose prose-h2:border-b prose-h2:pb-2 prose-headings:tracking-tight prose-h1:text-3xl prose-headings:font-bold prose-h1:mb-0 dark:prose-invert mt-4"
  >
    <div class="grid lg:grid-cols-2 gap-3 mt-3 not-prose">

      {
        componentPages.map((page) => (

          <a href={`/playground/components/${page.slug}`} class="relative group">
            <Card class="pointer-events-none">
              <ExampleComponent
                name={page.data.component}
                client:load
              />
              <div class="absolute bottom-1 left-1 right-1 width-full px-3 py-2.5 bg-gradient-to-b from-transparent from-5% to-background/95 to-70%">
                <h2 class="text-lg font-bold group-hover:text-link-hover group-hover:underline group-hover:underline-offset-4 group-hover:decoration-dotted  transition-colors duration-200">{page.data.title}</h2>
                <p class="text-sm">{page.data.shortDescription}</p>
              </div>
            </Card>
          </a>

        ))
      }
    </div>
  </div>
</DocsLayout>
