---
import FeatureList from "@/components/FeatureList.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import ComponentsLayout from "@/layouts/ComponentsLayout.astro"
import CodeBlock from "@/components/ui/CodeBlock.astro"

const features = [
  "Native form element",
  "Optional step size and min/max",
  "Keyboard editable, controllable & accessible",
  "Optional shift stepping",
]
---

<BaseLayout title="It's my playground" description="Weeeeee">
  <ComponentsLayout>
    <h1>Stepper</h1>
    <p>
      The Stepper component is a user interface element that allows users to
      increment or decrement a value. It is commonly used for inputting
      numerical values, such as quantities or prices.
    </p>
    <FeatureList features={features} />
    <h2>Usage</h2>
    <CodeBlock
      code={`import {
  StepperField,
  StepperFieldButton,
  StepperFieldInput,
  StepperFieldLabel,
} from "@/components/stepper-field"`}
    />
    <CodeBlock
      code={`<StepperField start={0}>
  <StepperFieldLabel htmlFor="stepper">
    Quantity
  </StepperFieldLabel>
  <StepperFieldButton direction="down">
    -
  </StepperFieldButton>
  <StepperFieldInput id="stepper" />
  <StepperFieldButton direction="up">
    +
  </StepperFieldButton>
</StepperField>`}
    />
  </ComponentsLayout>
</BaseLayout>
