{{> global_head pageTitle="A product development leader based in San Francisco, California" }}
<h1 class="heading-1">I'm here to build human-based products</h1>
<section class="about">
  <p>My name is <strong>Jake Holman</strong>, I simple enjoy
  finding a solution to problems we simple people have. I combine this with a fascination
  into how people interact and generally use technology, software in particular.</p>
  <p>Within organizations, I concentrate on building strong product development teams
  (not <em>just</em> product management teams) and instilling a strong product culture.
  This creates a strong bond between the rest of the business and the product itself.</p>
</section>
<section class="experience">
  <ul class="experience__list">
    <li class="experience__item">8+ years experience in technology, product management and leadership</li>
    <li class="experience__item">Believes in design-centric, human-centric, empathy driven and strategic product development</li>
    <li class="experience__item">Blah blah blah</li>
  </ul>
</section>
{{> global_footer }}
