{{> global_header }}
<h1 class="heading-1">I'm here to build products for humans</h1>
<section class="about__me">
  <div class="about__lede-container">
    <img src="/images/jake-smile-2x.png" class="about__face about__face--smile">
    <p class="text--lede margin--bottom-2">You can call me <strong>Jake Holman</strong>. I enjoy
    finding solutions to problems we simple humans have. I combine this with a fascination
    into how people interact and generally use technology, software in particular.</p>
  </div>
  <p>I believe in building a <a href="/about/product-culture" class="link link--subtle">
  strong product culture</a> throughout an organisation (not just the product team),
  working inclusively with engineering & design, and relentessly hunting down customer problems.</p>
  <p>I've been lucky enough to have created and contributed to a number of products over
  the years. I've built many dozens of features, services, and even whole platforms.</p>
  <p>I like to challenge the traditional norms of the product role. I have a lot of thoughts
  on product, product management, product culture and product ops.</p>
  <p>I'd love it if you wanted to <a href="/contact" class="link link--subtle">talk to me about any of that</a>.</p>
</section>
<div class="about__side">
  <section class="about__experience">
    <h3 class="heading-3 margin--top-none">In summary</h3>
    <ul class="experience__list">
      <li class="experience__item experience__item--time">
        8+ years experience in technology, product management and leadership
      </li>
      <li class="experience__item experience__item--beliefs">
        Design-centric, human-centric, highly customer empathetic, strategic thinker
      </li>
      <li class="experience__item experience__item--speaker">
        Confident speaker, passionate about evanglising product management and development
      </li>
      <li class="experience__item experience__item--technical">
        Strong technical background
      </li>
    </ul>
  </section>
  <section class="about__availability">
    {{> snippet_availability}}
  </section>
</div>
{{> global_footer }}
