---
import ComponentSnippet from "@/components/blocks/component-snippet.astro"
import CellsDemo from "@/components/examples/react/cells-demo"
import RangeDemo from "@/components/examples/react/range-demo"
import ScaleDemo from "@/components/examples/react/scale-demo"
import StepperDemo from "@/components/examples/react/stepper-demo"
import SwitcherDemo from "@/components/examples/react/switcher-demo"
import TaggerDemo from "@/components/examples/react/tagger-demo"
import DocsLayout from "@/layouts/docs-layout.astro"
import { getEntry } from "astro:content"

/* TODO: Ideally this would be dynamic, but Astro doesn't support dynamic
// import AND hydration: https://github.com/withastro/astro/issues/11701#issuecomment-2288646873
*/
---

<DocsLayout
  title="Free components for your projects"
  description="A range of free, accessible, and open-source React components. All of these components are easily installed via cli or manually. Go, explore."
  canLike={false}
  hasToC={false}
>
  <div
    class="prose prose-h2:border-b prose-h2:pb-2 prose-headings:tracking-tight prose-h1:text-3xl prose-headings:font-bold prose-h1:mb-0 dark:prose-invert mt-4"
    data-pagefind-ignore
  >
    <div class="not-prose mt-3 grid gap-3 lg:grid-cols-2">
      <ComponentSnippet data={await getEntry("components", "cells")}>
        <CellsDemo client:load />
      </ComponentSnippet>
      <ComponentSnippet data={await getEntry("components", "range")}>
        <RangeDemo client:load />
      </ComponentSnippet>
      <ComponentSnippet data={await getEntry("components", "scale")}>
        <ScaleDemo client:load />
      </ComponentSnippet>
      <ComponentSnippet data={await getEntry("components", "stepper")}>
        <StepperDemo client:load />
      </ComponentSnippet>
      <ComponentSnippet data={await getEntry("components", "switcher")}>
        <SwitcherDemo client:load />
      </ComponentSnippet>
      <ComponentSnippet data={await getEntry("components", "tagger")}>
        <TaggerDemo client:load />
      </ComponentSnippet>
    </div>
  </div>
</DocsLayout>
