---
import ComponentSnippet from "@/components/blocks/component-snippet.astro"
import DocsLayout from "@/layouts/docs-layout.astro"
import { getCollection } from "astro:content"

const componentPages = (await getCollection("components")).filter(
  (page) => page.data.component !== undefined,
)
---

<DocsLayout
  title="Free components for your projects"
  description="A range of free, accessible, and open-source React components. All of these components are easily installed via cli or manually. Go, explore."
  canLike={false}
  hasToC={false}
>
  <div
    class="prose prose-h2:border-b prose-h2:pb-2 prose-headings:tracking-tight prose-h1:text-3xl prose-headings:font-bold prose-h1:mb-0 dark:prose-invert mt-4"
    data-pagefind-ignore
  >
    <div class="not-prose mt-3 grid gap-3 lg:grid-cols-2">
      {
        componentPages.map((page) => {
          if (page.data.isPrivate) return

          return <ComponentSnippet data={page} />
        })
      }
    </div>
  </div>
</DocsLayout>
