.footer {
  border-top: 2px solid var(--page-color-subtle);
  grid-column: 1 / -1;
  display: grid;
  margin: 7rem 0 2rem;

  p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0;

    &:first-of-type {
      padding-top: 2.5rem;
    }
  }

  &__little-name {
    display: inline-block;
    border-left: 0.5rem solid #fff;
    border-right: 0.5rem solid #fff;
    height: 2.1rem;
    width: 0;
    padding: .8rem .9rem 0 1.2rem;
    margin: -1.1rem auto;
    font-weight: var(--font-weight-bold);
    background: linear-gradient(
                  to bottom,
                  var(--page-logo-color-gradient-top),
                  var(--page-logo-color-gradient-bottom)
                );

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      margin: 1.2rem 0 0 -1.2rem;
      border-top: .8rem solid var(--page-logo-color-gradient-bottom);
      border-right: .8rem solid transparent;
      content: "";
    }
  }
}
