footer {
  border-top: 2px solid var(--page-color-subtle);
  grid-column: 1 / -1;
  display: grid;
  margin-top: 60px;

  p {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0;

    &:first-of-type {
      padding-top: 25px;
    }
  }

  #little-name {
    display: inline-block;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    height: 12px;
    width: 0;
    padding: 7px 9px 0 12px;
    margin: -11px auto;
    font-weight: var(--font-weight-bold);
    font-size: 2.5em;
    color: var(--font-logo-color);
    background: linear-gradient(to bottom, var(--page-logo-color-gradient-top), var(--page-logo-color-gradient-bottom));

    &:before {
      position: absolute;
      width: 0;
      height: 0;
      margin: 12px 0 0 -12px;
      border-top: 8px solid var(--page-logo-color-gradient-bottom);
      border-right: 8px solid transparent;
      content: "";
    }
  }
}
