.footer {
  grid-column: 1 / -1;
  display: grid;
  margin: 5rem 0 2rem;

  @include media(phone) {
    margin: 3rem 0 3.6rem;
  }

  p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0;

    &:first-of-type {
      padding: 1rem 0 .3rem;
    }

    .link {
      // Adjust underline to be slightly closer, due to the smaller font-size
      background-position: 0 1.9rem;
    }
  }

  &__border {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;

    &::before,
    &::after {
      content: "";
      height: 2px;
      display: block;
      background-color: var(--page-color-subtle);
    }
  }

  &__little-name {
    width: 2.4rem;
    height: 2.4rem;
    margin: .6rem 0 0 .5rem;
    background: linear-gradient(
      to bottom,
      var(--page-logo-color-gradient-top),
      var(--page-logo-color-gradient-bottom)
    );
    clip-path: var(--shape-name-box);
  }
}
