.header {
  display: flex;
  grid-column: 1 / -1;
  padding: 2rem 0 0;

  &__name-container {
    flex: 1;
  }

  &__name {
    background: linear-gradient(
      to bottom,
      var(--page-logo-color-gradient-top),
      var(--page-logo-color-gradient-bottom)
    );
    clip-path: var(--shape-name-box);
    color: var(--font-logo-color);
    display: inline-block;
    font-size: 5rem;
    font-weight: var(--font-weight-bold);
    width: 10rem;
    height: 10rem;
    padding: .7rem 1.2rem 0 1.3rem;
  }

  &__link,
  &__link:visited {
    color: #fff;
    font-weight: inherit;
    background: 0;
    text-shadow: none;

    &:hover {
      color: inherit;
      background-image: none;
    }
  }
}
