.header {
  display: flex;
  grid-column: 1 / -1;
  padding: 2rem 0 0;

  &__name-container {
    flex: 1;
  }

  &__name {
    background: linear-gradient(
      to bottom,
      var(--page-logo-color-gradient-top),
      var(--page-logo-color-gradient-bottom)
    );
    clip-path: var(--shape-name-box);
    color: var(--font-color-logo);
    display: inline-block;
    font-size: 5rem;
    font-weight: var(--font-weight-bold);
    width: 10rem;
    height: 10rem;
    padding: .7rem 1.2rem 0 1.3rem;
    transition: transform 0.2s;

    @include media(phone) {
      padding: 2vw 3.6vw 0;
      font-size: 9.7vw;
      width: 22vw;
      height: 22vw;
    }
  }

  &__link,
  &__link:visited {
    display: block;
    width: 8rem;
    color: #fff;
    font-weight: inherit;
    filter: drop-shadow(0 .2rem 1rem rgba(0, 0, 0, 0.2));
    background: 0;
    text-shadow: none;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-.3rem);
      filter: drop-shadow(0 .5rem 1.6rem rgba(0, 0, 0, 0.2));
      color: inherit;
      background-image: none;
    }

    &:active,
    &:focus {
      transform: translateY(0);
      filter: drop-shadow(0 .2rem 1rem rgba(0, 0, 0, 0.2));
    }
  }
}
