.navigation {
  display: block;
  grid-column: 3 / 5;
  margin-top: 2rem;
  text-align: right;

  @include media(phone) {
    margin-top: 0;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    @include media(phone) {
      display: block;
      margin-top: .3rem;
    }

    &:not(:last-child) > * {
      margin-right: 3.5rem;

      @include media(phone) {
        margin-right: 0;
      }
    }
  }

  &__link,
  &__link:visited {
    background: none;
    color: var(--page-color-primary);
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    text-shadow: none;
    text-decoration: none;

    @include media(phone) {
      font-size: 5.3vw;
    }

    @include media(big-desktop) {
      font-size: 3.3rem;
    }

    &:hover {
      color: var(--page-logo-color-gradient-bottom);
    }
  }
}
