---
import { SITE_CONFIG } from "../config/site"
import { GitHubLogoIcon } from "@radix-ui/react-icons"
import Link from "@/components/ui/Link.astro"
import ThemeToggle from "@/components/ui/theme-toggle"
import GlobalNav from "@/components/GlobalNav.astro"
import { MobileNav } from "@/components/blocks/mobile-nav"
import { buildNavigation } from "@/content/utils/navigation"
import SubNav, { type SubNavItems } from "@/components/SubNav.astro"
import { Search } from "@/components/blocks/search"

const navItems = await buildNavigation()
---

<header
  class="container-page md:sticky lg:top-0 z-50 w-full bg-background/85 lg:backdrop-blur supports[backdrop-filter]:bg-background/60"
data-pagefind-ignore>
  <div class="flex h-14 items-center lg:text-sm text-lg font-bold">
    <div class="flex items-center">
      <MobileNav className="mr-4" client:load>
        <SubNav class="block" navItems={navItems as SubNavItems} />
      </MobileNav>
      <Link href="/playground" class="text-foreground"
        >🛝 <span class="hidden lg:inline">jakeisonline/playground</Link
      >
      <GlobalNav class="ml-8" />
    </div>

    <div class="justify-end items-center flex flex-1 gap-1">
      <Search client:load />
      <Link
        href={SITE_CONFIG.links.github}
        noIcon
        class="underline-offset-4 underline decoration-transparent decoration-dotted duration-300 ease-out hover:decoration-link-hover inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-slate-950 dark:focus-visible:ring-slate-300 hover:text-slate-900 dark:hover:bg-slate-800 dark:hover:text-slate-50 h-10 w-10 hover:bg-accent text-foreground"
      >
        <GitHubLogoIcon className="h-4 w-4" />
      </Link>
      <ThemeToggle client:load />
    </div>
  </div>
</header>
