---
import Link from "@/components/ui/Link.astro"
import { cn } from "@/lib/utils"

interface Props {
  title: string
  navItems: Array<{ name: string; href: string }>
}

const { title, navItems } = Astro.props
const currentPath = Astro.url.pathname
---

<aside class="hidden top-20 z-30 -ml-2 w-full shrink-0 sticky lg:block">
  <h4
    class="font-heading pb-2 scroll-m-20 text-sm font-semibold tracking-tight mt-0 pl-1.5"
  >
    {title}
  </h4>
  <div class="grid gap-1 text-sm">
    {
      navItems.map(({ name, href }) => (
        <Link
          href={href}
          class={cn(
            "pl-1.5 py-1 rounded-sm",
            currentPath === href
              ? "text-foreground bg-accent"
              : "text-foreground/60",
          )}
        >
          {name}
        </Link>
      ))
    }
  </div>
</aside>
