---
import Link from "./ui/Link.astro"

const { heading } = Astro.props
---

<li class="mb-0.5">
  {/* We don't want the page title in the ToC */}
  {heading.depth !== 1 && <Link href={`#${heading.slug}`}>{heading.text}</Link>}

  {
    heading.subheadings.length > 0 && (
      <ul class={heading.depth > 1 ? "indented-list" : null}>
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
