---
import PostSnippet from "@/components/blocks/post-snippet.astro"
import { getAllArticles } from "@/lib/content"

const allArticles = await getAllArticles({ limit: 3 })
---

<div
  class="grid snap-x snap-mandatory grid-flow-col gap-3 overflow-x-scroll pb-3"
>
  {
    allArticles.map((article) => (
      <PostSnippet
        post={article}
        class="border-border border rounded-lg w-full lg:w-md ml-0 max-w-[26rem] min-w-[calc(100vw-2.5rem)] snap-start md:min-w-full text-sm sm:text-base"
      />
    ))
  }
</div>
