---
import Badge from "@/components/ui/badge.astro"
import { CATEGORIES } from "@/lib/categories"
import { cn } from "@/lib/utils"

const currentPath = Astro.url.pathname
---

<nav class="mt-3">
  <ul class="flex flex-wrap gap-2">
    {
      CATEGORIES.map((category) => (
        <li>
          <a href={category.url}>
            <Badge
              class={cn(
                "hover:bg-muted-foreground hover:text-background",
                currentPath === category.url &&
                  "bg-muted-foreground text-background",
              )}
            >
              {category.name}
            </Badge>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
