---
import Badge from "@/components/ui/badge.astro"
import { getAllCategories } from "@/lib/content"

const categories = await getAllCategories()
---

<nav class="mt-3">
  <ul class="flex flex-wrap gap-2">
    {
      categories.map((category) => (
        <li>
          <a href={category.url}>
            <Badge class="hover:bg-muted-foreground hover:text-background">
              {category.name}
            </Badge>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
