---
import ComponentSnippet from "@/components/blocks/component-snippet.astro"
import CellsDemo from "@/components/examples/react/cells-demo"
import RangeDemo from "@/components/examples/react/range-demo"
import StepperDemo from "@/components/examples/react/stepper-demo"
import TickerMore from "@/components/ui/ticker-more.astro"
import { getEntry } from "astro:content"

/* TODO: Ideally this would be dynamic, but Astro doesn't support dynamic
// import AND hydration: https://github.com/withastro/astro/issues/11701#issuecomment-2288646873
*/
---

<div
  class="not-prose no-scrollbar relative mt-3 grid snap-x snap-mandatory grid-flow-col gap-3 overflow-x-scroll pb-3"
>
  <ComponentSnippet
    data={await getEntry("components", "cells")}
    class="min-w-[calc(100svw-2.5rem)] snap-start sm:min-w-72"
  >
    <CellsDemo client:load />
  </ComponentSnippet>
  <ComponentSnippet
    data={await getEntry("components", "range")}
    class="min-w-[calc(100svw-2.5rem)] snap-start sm:min-w-72"
  >
    <RangeDemo client:load />
  </ComponentSnippet>
  <ComponentSnippet
    data={await getEntry("components", "stepper")}
    class="min-w-[calc(100svw-2.5rem)] snap-start sm:min-w-72"
  >
    <StepperDemo client:load />
  </ComponentSnippet>

  <TickerMore href="/components" aria-label="View all components" />
</div>
