---
import Link from "@/components/ui/link.astro"
import { LINKS } from "@/lib/const"
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons"
---

<footer
  class="container-page mt-auto mb-4 grid w-full grid-cols-2 text-xs lg:text-sm"
>
  <div>👋 <Link href="/">a thing by jake</Link></div>
  <div class="flex items-center space-x-2 place-self-end">
    <Link
      aria-label="LinkedIn"
      href={LINKS.LINKEDIN}
      class="text-foreground"
      noIcon
    >
      <LinkedInLogoIcon className="h-4 w-4" />
    </Link>
    <Link
      aria-label="GitHub"
      href={LINKS.GITHUB}
      class="text-foreground"
      noIcon
    >
      <GitHubLogoIcon className="h-4 w-4" />
    </Link>
  </div>
</footer>
