---
import GlobalNav from "@/components/blocks/global-nav.astro"
import ThemeToggle from "@/components/blocks/theme-toggle"
import Link from "@/components/ui/link.astro"
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons"
---

<header
  class="container-page bg-background/85 supports[backdrop-filter]:bg-background/60 z-50 w-full md:sticky lg:top-0 lg:backdrop-blur"
  data-pagefind-ignore
>
  <div class="flex h-14 items-center text-lg font-bold lg:text-sm">
    <div class="flex w-full items-center">
      <Link href="/blog" class="text-foreground"
        >📣 <span class="hidden lg:inline">jakeisonline/blog</span>
      </Link>
      <GlobalNav class="ml-8" />
      <div class="flex flex-1 items-center justify-end gap-1">
        <Link
          href="https://www.linkedin.com/in/jakeholman/"
          noIcon
          class="hover:decoration-link-hover hover:bg-accent text-foreground inline-flex h-10 w-10 items-center justify-center rounded-md text-sm font-medium whitespace-nowrap underline decoration-transparent decoration-dotted underline-offset-4 ring-offset-white transition-colors duration-300 ease-out hover:text-slate-900 focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-slate-950 dark:hover:bg-slate-800 dark:hover:text-slate-50 dark:focus-visible:ring-slate-300"
        >
          <LinkedInLogoIcon className="h-4 w-4" />
        </Link>
        <Link
          href="https://github.com/jakeisonline"
          noIcon
          class="hover:decoration-link-hover hover:bg-accent text-foreground inline-flex h-10 w-10 items-center justify-center rounded-md text-sm font-medium whitespace-nowrap underline decoration-transparent decoration-dotted underline-offset-4 ring-offset-white transition-colors duration-300 ease-out hover:text-slate-900 focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-slate-950 dark:hover:bg-slate-800 dark:hover:text-slate-50 dark:focus-visible:ring-slate-300"
        >
          <GitHubLogoIcon className="h-4 w-4" />
        </Link>
        <ThemeToggle client:load />
      </div>
    </div>
  </div>
</header>
