---
import ToolSnippet from "@/components/blocks/tool-snippet.astro"
---

<div
  class="no-scrollbar inline-grid snap-x snap-mandatory grid-flow-col gap-3 overflow-x-scroll pb-3"
>
  <ToolSnippet
    title="numberformat.app"
    description="A tiny web-based tool to display number formats in every locale"
    href="https://numberformat.app"
    imageSrc="https://numberformat.app/opengraph-image"
    imageAlt="Every number format, for every locale"
  />
  <ToolSnippet
    title="next-auth-template"
    description="A Next.js template with auth already done, so you can get to building"
    href="https://next-auth-template-demo.vercel.app"
    imageSrc="https://next-auth-template-demo.vercel.app/opengraph-image.png"
    imageAlt="Sign up and auth, super quick"
  />
</div>
