---
import BaseLayout from "@/layouts/base-layout.astro"
import { getCollection } from "astro:content"
import PostSnippet from "@/components/blocks/post-snippet.astro"

const allBlogPosts = await getCollection("general")
---

<BaseLayout title="Blog" description="A place of relative calm.">
  <div class="mt-8 w-full grid grid-cols-[1fr_1fr] gap-4">
    <section>
      <h2 class="mb-4 text-muted-foreground">Stuff to read</h2>

      {
        allBlogPosts.map((post) => (
          <PostSnippet
            title={post.data.title}
            description={post.data.description}
            slug={post.id}
          />
        ))
      }
    </section>
    <div>
      <section>
        <h2 class="text-muted-foreground">Browse by category</h2>
      </section>
    </div>
  </div>
</BaseLayout>
