---
import Layout from '../layouts/Layout.astro';
import Waving from "../assets/images/waving.svg?raw";
---

<Layout title="Welcome to Astro.">
	<div class="w-full mt-8">
		<h1 class="text-8xl flex items-center justify-center animate-in fade-in slide-in-from-bottom-4 duration-700">
			<span class="w-32 animate-wave hover:repeat-infinite hover:delay-0">
				<Fragment set:html={Waving} />
			</span>
			<span class="-ml-2">Hello, I make <span class="">things</span>.</span></h1>
	</div>
</Layout>
