---
import BaseLayout from "@/layouts/base-layout.astro"
import { getCollection } from "astro:content"

const allBlogPosts = await getCollection("general")
---

<BaseLayout title="Blog" description="A place of relative calm.">
  <div class="w-full"></div></BaseLayout
>
