---
import BaseLayout from "@/layouts/base-layout.astro"
import { getAllPosts } from "@/lib/get-all-posts"
import PostSnippet from "@/components/blocks/post-snippet.astro"
import CategoryNav from "@/components/blocks/category-nav.astro"

const allBlogPosts = await getAllPosts()
---

<BaseLayout title="Blog" description="A place of relative calm.">
  <div class="w-full grid grid-cols-[1fr_1fr] gap-4">
    <section>
      <h2 class="mb-4 text-sm text-muted-foreground">Stuff to read</h2>

      {allBlogPosts.map((post) => <PostSnippet post={post} />)}
    </section>
    <div>
      <section>
        <h2 class="text-muted-foreground text-sm">Browse by category</h2>
        <CategoryNav />
      </section>
    </div>
  </div>
</BaseLayout>
