---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="w-full mt-4 lg:mt-8">
		<h1 class="text-2xl md:text-5xl lg:text-8xl flex items-center animate-in fade-in slide-in-from-bottom-4 duration-700">
			<span class="w-auto animate-wave hover:repeat-infinite hover:delay-0">
				👋
			</span>
			<span class="ml-1.5 md:ml-3 lg:ml-4">Hello, I make <span class="">things</span>.</span></h1>
			<p class="mt-4 lg:mt-12 text-lg lg:text-3xl animate-in fade-in duration-1000">My name is Jake. I've been making software for ages.</p>
	</div>
</Layout>
