---
import Layout from '../layouts/Layout.astro';
import Waving from "../assets/images/waving.svg?raw";
---

<Layout title="Welcome to Astro.">
	<div class="w-full mt-8">
		<h1 class="text-8xl flex items-center justify-center animate-in fade-in slide-in-from-bottom-4 duration-700">
			<span class="w-32 animate-wave hover:repeat-infinite hover:delay-0">
				<Fragment set:html={Waving} />
			</span>
			<span class="-ml-2">Hello, I make <span class="">things</span>.</span></h1>
			<p class="mt-12 text-3xl animate-in fade-in duration-1000">My name is Jake. I've been making software for ages.</p>
	</div>
</Layout>
