---
import Link from "@/components/ui/link.astro"
import { CATEGORIES } from "@/lib/categories"

const url = Astro.props.url

// Extract the category from the url
const categoryId = url.split("/").slice(3, -1).join("/")

const category = CATEGORIES.find((c) => c.id === categoryId)
---

{
  category && (
    <Link
      class="text-muted-foreground hover:text-foreground"
      href={category?.url}
    >
      {category?.name}
    </Link>
  )
}
{!category && <span class="text-muted-foreground">Unknown</span>}
