---
import Link from "@/components/ui/link.astro"
import { createCategoryObject } from "@/lib/content"

interface Props {
  category: any
}

const { category } = Astro.props as Props

const categoryData = await createCategoryObject(category)
---

{
  categoryData && (
    <Link
      class="text-muted-foreground hover:text-foreground"
      href={categoryData?.url}
    >
      {categoryData?.name}
    </Link>
  )
}
{!categoryData && <span class="text-muted-foreground">Unknown</span>}
