---
import { GitHubLogoIcon } from "@radix-ui/react-icons"
import { LinkedInLogoIcon } from "@radix-ui/react-icons"
import Link from "@/components/ui/Link.astro"
---

<footer class="container-page mt-auto grid w-full mb-4 grid-cols-2 lg:grid-cols-3 lg:text-sm text-xs">
  <div class="lg:col-start-2 lg:place-self-center">&copy; 2023 Jake Holman</div>
  <div class="place-self-end flex items-center space-x-2">
    <Link
      href="https://github.com/jakeisonline"
      external
      noIcon>
      <GitHubLogoIcon className="h-4 w-4" />
    </Link>
    <Link
      href="https://www.linkedin.com/in/jakeisonline/"
      external
      noIcon>
      <LinkedInLogoIcon className="h-4 w-4" />
    </Link>
  </div>
</footer>
