---
import { SiGithub as GitHubIcon } from "@icons-pack/react-simple-icons"
import Link from "./ui/link.astro"

interface Props {

}
---

<header class="md:sticky lg:top-0 z-50 w-full bg-background/20 lg:backdrop-blur supports[backdrop-filter]:bg-background/20">
  <div class="container px-4 md:px-6 flex h-14 max-w-screen-2xl items-center text-sm font-bold">
    <div class="flex items-center gap-8">
      jakeisonline
    </div>
    <div class="justify-end flex flex-1 gap-1">
      <Link
        href="https://github.com/jakeisonline"
        external
        noIcon
        className="underline-offset-4 underline decoration-transparent decoration-dotted duration-300 ease-out hover:decoration-link-hover inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-slate-950 dark:focus-visible:ring-slate-300 hover:text-slate-900 dark:hover:bg-slate-800 dark:hover:text-slate-50 h-10 w-10 hover:bg-accent text-foreground">
        <GitHubIcon className="h-4 w-4" />
      </Link>
      <!-- theme toggle -->
    </div>
  </div>
</header>
