---
interface Props {

}
---

<header class="md:sticky lg:top-0 z-50 w-full bg-background/20 lg:backdrop-blur supports[backdrop-filter]:bg-background/20">
  <div class="container px-4 md:px-6 flex h-14 max-w-screen-2xl items-center text-sm font-bold">
    <div class="flex items-center gap-8">
      jakeisonline
    </div>
    <div class="justify-end flex flex-1 gap-1">
      <!-- theme toggle -->
    </div>
  </div>
</header>
