@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "components/availability";
@import "components/follow";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/talkmefollowme";

@import "pages/home";

/* TODO these media queries should all be nested, and a mixin added to handle
   the query itself
*/

// Over about 1339px
@media screen and (min-width: 83.688em) {
  h1 {
    font-size: 3.6em;
  }

  .initial_letter::first-letter {
    font-size: 4.7em;
  }

  header[role="banner"] #name {
    height: 68px;
    width: 53px;
    font-size: 2.7em;

    &:before {
      border-top-width: 37px;
      border-right-width: 37px;
    }
  }
}

// 1080px or under
@media screen and (max-width: 67.5em) {
  h1 {
    font-size: 2.6em;
  }

  .initial_letter::first-letter {
    font-size: 4em;
  }
}

// 980px or under
@media screen and (max-width: 60.938em) {
  h1 {
    font-size: 2.2em
  }

  header[role="banner"] {
    #name {
      height: 58px;
      width: 43px;
      font-size: 2.2em;

      &:before {
        margin-top: 58px;
        border-top-width: 22px;
        border-right-width: 22px;
      }
    }

    #nav li a {
      font-size: 1.4em;
    }
  }
}

// 825px or under
@media screen and (max-width: 51.563em) {
  h1 {
    font-size: 2em;
  }

  header[role="banner"] #nav li a {
    font-size: 1.2em;
  }
}

// 750px or under
@media screen and (max-width: 46.875em) {
  h1 {
    font-size: 1.65em
  }

  header[role="banner"] {
    #name {
      height: 50px;
      width: 35px;
      font-size: 1.75em;

      &:before {
        margin-top: 50px;
        border-top-width: 18px;
        border-right-width: 18px;
      }
    }

    #nav li a {
      font-size: 1.08em;
    }
  }

  .initial_letter::first-letter {
    font-size: 3em;
    margin-right: 12px;
    margin-top: 0;
  }
}

// 625px or under
@media screen and (max-width: 39.063em) {
  h1 {
    font-size: 1.4em;
    padding-top: 10px;
  }

  header[role="banner"] {
    padding-top: 13px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--page-color-subtle);

    #nav {
      margin: 0;

      li {
        display: block;

        a {
          margin-right: 0;
        }
      }
    }
  }

  .initial_letter::first-letter {
    font-size: 0;
    margin: 0;
  }
}

// Over about 768px
@media screen and (min-width: 46.875em) {
  body {
      grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      max-width: 1440px;
      display: grid;
  }
}
