---
import { cn } from '@/lib/utils'
import { cva } from 'class-variance-authority'

interface Props {
  variant: VariantOptions
  class?: string
}

type VariantOptions = "default" | "secondary" | "outline"

const { variant = "default", class: className, ...props } = Astro.props

const variantClasses = cva(
  "inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2",
  {
    variants: {
      variant: {
        default:
          "border-transparent bg-primary text-primary-foreground hover:bg-primary/80",
        secondary:
          "border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80",
        outline: "text-foreground",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  }
)

---

<div class={cn(variantClasses({ variant }), className)} {...props}><slot /></div>
