---
import { cn } from "@/lib/utils"
import { cva } from "class-variance-authority"

interface Props {
  variant: VariantOptions
  class?: string
}

type VariantOptions = "default" | "secondary" | "outline"

const { variant = "default", class: className, ...props } = Astro.props

const variantClasses = cva(
  "focus:ring-ring inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs transition-colors focus:ring-2 focus:ring-offset-2 focus:outline-none",
  {
    variants: {
      variant: {
        default:
          "bg-primary text-primary-foreground hover:bg-primary/80 border-transparent",
        secondary:
          "bg-secondary text-secondary-foreground hover:bg-secondary/80 border-transparent",
        outline: "text-foreground",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  },
)
---

<div class={cn(variantClasses({ variant }), className)} {...props}>
  <slot />
</div>
