---
import { cn } from "@/lib/utils"
import { ExternalLinkIcon } from "lucide-react"

type Props = {
  href: string
  external?: boolean
  referrer?: boolean
  noIcon?: boolean
  class?: string
}

const { href, external, referrer, noIcon, class:className, ...props }: Props = Astro.props

const processProps = () => {
  const props = {} as any

  if (external) {
    props["target"] = "_blank";
    props["rel"] = !referrer ? "noreferrer" : undefined
  }

  return props
}

const newProps = processProps()
---

<a
  href={href}
  class={cn(
    "text-link hover:text-link-hover underline-offset-4 underline decoration-transparent  decoration-dotted transition-colors duration-300 ease-out hover:decoration-link-hover inline-flex",
    className,
  )}
  {...newProps}
>
  <slot />{external && !noIcon && <ExternalLinkIcon className="ml-0.5 hover:decoration-none w-2.5 h-2.5 md:w-3 md:h-3 xl:w-4 lg:h-4" />}</a>
