---
import { cn } from "@/lib/utils"
import { ExternalLinkIcon } from "lucide-react"

type Props = {
  href: string
  external?: boolean
  noIcon?: boolean
  class?: string
}

const { href, external, noIcon, class:className, ...props }: Props = Astro.props
const newProps = !external
    ? props
    : { target: "_blank", rel: "noreferrer", ...props }
---

<a
  href={href}
  class={cn(
    "text-link hover:text-link-hover underline-offset-4 underline decoration-transparent  decoration-dotted transition-colors duration-300 ease-out hover:decoration-link-hover",
    className,
  )}
  {...newProps}
>
  <slot />{external && !noIcon && <ExternalLinkIcon className="ml-0.5 inline-flex -mt-5 hover:decoration-none" />}</a>
