---
interface Props {
  publicId: string
}

const { publicId } = Astro.props as Props

import { getCldVideoUrl } from "astro-cloudinary/helpers"

const url = getCldVideoUrl({
  src: publicId,
})
---

<div class="w-full max-w-full">
  <video autoplay loop playsinline muted src={url} class="m-auto rounded-sm"
  ></video>
</div>
