---
import { cn } from "@/lib/utils"
import { getCldVideoUrl } from "astro-cloudinary/helpers"

interface Props {
  publicId: string
  className?: string
}

const { publicId, className } = Astro.props as Props

const url = getCldVideoUrl({
  src: publicId,
})
---

<div class={cn("aspect-video w-full max-w-full", className)}>
  <video autoplay loop playsinline muted src={url} class="m-auto rounded-sm"
  ></video>
</div>
